header {
	background-color: #F15B31;
	padding: 30px 20px 30px 20px;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 1px;
	margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;

}

p {
	font-family: "Droid Serif", serif;
}

body {
	text-align: center;
	margin: 0;
}

a {
	margin: 0px 20px 0px 20px;
	font-family: "Raleway", sans-serif;
	border-bottom: 2px solid transparent;
	font-color: white;
}

a:hover {
	border-color: white;
}

nav {
	background-color: #00A6B3;
	padding-top: 20px;
	padding-bottom: 20px;
}

main {
	width: 850px; 
	margin: 35px 0px 35px 0px;
	margin-left: auto;	
	margin-right: auto;
}

img {
	margin: 40px 8px 40px 8px;
}

footer {
	text-transform: uppercase;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
	position: relative;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.name {
	color: #F15B31;
	font-weight: 700;
}
